@charset "utf-8";
@import "./autocomplete";

.dummy-div {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: red;
}
.textarea-wrapper {
    position: relative;
}
.textarea {
    width: 400px;
    height: 300px;
}
